[Unit]
Description=Container for Tarakania RPG Discord bot

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/podman stop %n
ExecStartPre=-/usr/bin/podman rm %n
ExecStartPre=/usr/bin/podman pull docker://tarakania/discord-bot
ExecStart=/usr/bin/podman run --rm --name %n --network="host" -v /srv/tarakania/discord-bot:/code -v /etc/letsencrypt:/etc/letsencrypt tarakania/discord-bot --production
WorkingDirectory=/srv/tarakania/discord-bot
User=tarakania
Group=tarakania

[Install]
WantedBy=multi-user.target
