[Unit]
Description=Container for Tarakania RPG Discord bot
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull tarakania/discord-bot
ExecStart=/usr/bin/docker run --rm --name %n -v /srv/tarakania/discord-bot/tarakania_rpg/data:/code/tarakania_rpg/data tarakania/discord-bot --production
WorkingDirectory=/srv/tarakania/discord-bot
User=eugene
Group=eugene

[Install]
WantedBy=multi-user.target
